[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytecplot = "*"
numpy = "*"
tk = "*"
jupyter = "*"
pandas = "*"
e1839a8 = {path = ".", editable = true}
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
